@import url('https://rsms.me/inter/inter.css');

body {
	background-color: #F3F5FC;
	font-family: 'Inter', sans-serif;
	height: 100vh;
	margin: 0;
	padding: 0;
}

main.content {
	display: flex;
	width: 100%;
	height: 90%;
	flex-wrap: wrap;
}

.content section {
	box-sizing: border-box;
	position: relative;
}

textarea, button {
	font-family: inherit;
}

.input-container {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
	margin: 116px 30px 0 240px;
}

.controls p {
	display: flex;
	color: #495057;
	font-size: 12px;
	line-height: 18px;
	align-content: center;
}

.controls p img {
	margin-right: 8px;
}

.buttons {
	font-size: 16px;
	border: 1px solid #0A3871;
	border-radius: 24px;
	background: #ffffff;
	padding: 24px;
	cursor: pointer;
}

.btns-container {
	display: flex;	
}

#encriptar-btn {
	color: #ffffff;
	background: #0A3871;
	flex-grow: 1;
	margin-right: 24px;
}

#desencriptar-btn {
	color:#0A3871;
	background: #D8DFE8;
	flex-grow: 1;
}

#copy-btn {
	color:#0A3871;
}

.output-container {
	display: flex;
	flex-direction: column;
	background: #ffffff;
	padding: 32px;
	margin: 40px 40px -32px 10px;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	border-radius: 32px;
	justify-content: space-between;
	flex-grow: 1;
	min-width: 300px;
	max-width: 400px;
	text-align: center;
}

textarea {
	width: 100%;
	height: 100%;
	resize: none;
	outline: none;
	border: none;
}

textarea#entrada-texto {
	background: none;
	font-family: 'Inter';
	font-size: 32px;
	line-height: 150%;
	color: #0A3871;
	max-width: 532px;
}

textarea#salida-texto {
	font-size: 24px;
	line-height: 36px;
	color: #495057;
}

.not-found img {
	width: 100%;
	max-width: 336px;
}

.not-found p {
	padding: 0 38px;
}

.not-found p:nth-of-type(1) {
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #343A40;
}

.not-found p:nth-of-type(2) {
	font-size: 16px;
	line-height: 24px;
	color: #495057;
}

.output-container p:last-child{
	display: none;
	position: absolute;
	bottom: 2%;
	width: 100%;
	margin: 0;
	left: 0;
	font-size: 0.9em;
}

.invisible {
	display: none;
}

.visible {
	display: block;
}

.logo {
	position: absolute;
	margin: 40px;
}

footer {
	text-align: center;
	margin: 0 30px;
}

footer p {
	position: relative;
	top: 36px;
	margin: 0;	
	color: #495057;
}

footer p img {
	vertical-align: bottom;
}


@media screen and (max-width:1293px) {

	body {
		display: flex;
		flex-direction: column;
	}

	.logo {
		position: relative; 
		margin: 30px calc(5% - 44px);
	}
	
	main.content {
		height: auto;
		flex-grow: 2;
	}

	.content section {
		margin: 10px 5%; 
		width: 100%;
		max-width: unset;
	}
	
	footer {
		font-size: 0.8em;
		flex-grow: 1;
	}

	footer p {
		padding: 0 0 20px;
	}
}
